.contacts {
  padding: 28px 0 0 0;
}

.contacts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 28px 0;
}

.contacts__slogan {
  width: 50%;
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: @special-black;
  text-transform: uppercase;
}

.contacts__address {
  width: 50%;
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: @special-extra-grey;
}

.contacts__map {
  width: 100%;
  border: none;
}
