.example {
  background-color: #eaeaea;
  padding: 27px 0 31px 0;
  box-sizing: border-box;
}

.example__title {
  font: inherit;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 33px 0;
  padding: 0;
}

.example__text {
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  color: @special-extra-grey;
}

.example__list {
  list-style: none;
  padding: 0;
  margin: 0 0 34px 0;
  display: flex;
  justify-content: space-between;
}

.example__img {
  display: block;
  margin: 0 auto;
}

.example__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 124px;
  min-height: 56px;
  border: 1px solid @special-grey;
  position: relative;
  font: inherit;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__item p {
  position: absolute;
  color: @special-extra-grey;
  background-color: #eaeaea;
  bottom: -30px;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  width: 82px;
  text-align: center;
  display: table-caption;
  text-transform: lowercase;
}

.example__desc {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  line-height: 20px;
  padding: 0;
  margin: 0 0 42px 0;
}

.example__toogle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toogle {
  width: 84px;
  height: 14px;
  background-color: @basic-white;
  border-radius: 6px;
  margin: 0 12px;
  padding: 0 6px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.toogle__button {
  border: none;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.toogle__active {
  width: 35px;
  height: 6px;
  background-color: @basic-green;
  border-radius: 6px;
}
