.page-footer {
  background-color: @basic-grey;
  padding: 39px 0 0 0;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-footer__logo {
  padding: 0 0 32px 0;
  border-bottom: 1px solid @basic-dark-grey;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__img {
  width: 128px;
  height: 24px;
}

.page-footer__social {
  border-bottom: 1px solid @basic-dark-grey;
  margin: 0;
  padding: 0;
  width: 100%;
}

.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  width: 100%;
  box-sizing: border-box;
}

.page-footer__copyright p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @special-extra-grey;
}
