.programs__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  padding: 22px 0 0 0;

  @media (min-width: @tablet-width) {
    row-gap: 30px;
  }
}

.program {
  background-color: @basic-grey;
  border: 1px solid @basic-dark-grey;
  padding: 20px;

  @media (min-width: @tablet-width) {
    padding: 77px 0 53px 53px;
  }
}

.program__title {
  font: inherit;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 0 71px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
   }

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @basic-green;

    @media (min-width: @tablet-width) {
    //  display: none;
    width: 200px;
    height: 200px;
    top: 15px;
    left: auto;
    right: 62px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 50px;
    top: -8px;
    left: 7px;
    background-image: url(../img/cat-slim.svg);
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width: @tablet-width) {
      width: 270px;
      height: 192px;
      background-image: url(../img/cat-slim.png);
      top: 6px;
      left: auto;
      right: 23px;
     }
  }
}

.program__text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-extra-grey;
  border-bottom: 1px solid @basic-dark-grey;
  margin: 0;
  padding: 22px 0;

  @media (min-width: @tablet-width) {
    width: 58%;
    font-size: 16px;
    line-height: 24px;
    padding: 22px 0 48px 0;
    border-bottom: none;
   }
}

.program__link {
  color: @basic-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;
  margin: 15px 0 0 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: url(../img/icon_arrow.svg);
    position: absolute;
    top: 0;
    left: 99px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
      top: -2px;
      left: 131px;
    }
  }
}

